@import "../../styles/mixin.scss";


.AskOuestion {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $Red-300;

  .title {
    @include Button-Semi($color: $Grayscale-0);
  }
  .container {
    display: flex;
    flex-direction: row;
    .grid {
      // width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      @include small() {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      .none {
        display: none;
      }
    }
    @include large {
      flex-direction: column;
    }
  }
}
