@import "../../styles/mixin.scss";

.RelayAndShare {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding-top: 10px;
  padding-bottom: 50px;
  background: $Blue-400;

  .TitleContainer {
    background-image: url(../../asset/Img/curly-line.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 296px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .SectionTitle {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: $Grayscale-0;
  }
  .CardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0 20px;
  }
  @include large {
    height: auto;
  }
}
