@import './reset.css';

// 引入本機字體
@font-face {
  font-family: defaultFont;
  src: url("./../asset/Font/PingFang.ttc"), url("./../asset/Font/Helvetica.ttc");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: defaultFont !important;
}