@import "../../styles/mixin.scss";

nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(217, 217, 217, 0.02);
  backdrop-filter: blur(2px);
  z-index: 99;
  @include extraSmall {
    display: none;
  }
  .NavBar {
    max-width: 1600px;
    flex-grow: 1;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include large {
      height: 40px;
    }
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $Grayscale-0;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .left {
      display: flex;
      align-items: center;
      height: 100%;
      .title {
        position: relative;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 16px;
        padding-right: 13px;
        &::after {
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background-color: $Grayscale-0;
        }
        @include Button-Semi ($color: $Yellow-100)
      }
      ul {
        display: flex;
        padding-left: 40px;
        column-gap: 60px;
        li {
          cursor: pointer;
          @include Caption ($color: $Grayscale-0)
        }
        @include large {
          padding-left: 20px;
          column-gap: 30px;
        }
        @include medium-large {
          display: none;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      column-gap: 43px;
      height: 100%;
      .countDown {
        background-color: $Grayscale-0;
        padding-left: 10px;
        padding-right: 10px;
        @include Caption ($color: $Red-300);
        @include medium-large {
          display: none;
        }
      }
      button {
        height: 100%;
        padding-right: 32px;
        padding-left: 33px;
        border: none;
        background-color: $Grayscale-0;
        cursor: pointer;
        @include Body-Semi ($color: $Blue-300)
      }
    }
  }
}
