@import "../../styles/mixin.scss";

.Sponsor {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid $Red-300;
  background-color: $Blue-400;

  .bg{
    z-index: 1;
  }

  .title {
    z-index: 5;
    margin-top: 160px;
    margin-bottom: 80px;
    text-align: center;
    @include Button-Semi($color: $Grayscale-0);
    @include large() {
      margin-top: 80px;
      margin-bottom: 40px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    z-index: 5;
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;

      .blocks {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 288px;
        width: 400px;
        background-color: $Grayscale-0;
        @include large {
          width: calc(max(31vw, 288px));
        }
        @include middling {
          width: calc(max(80vw, 300px));
        }
        &:hover {
          transition: 0.5s ease-in;
          transform: translateY(-4px);
          .word{
            display: block;
            background-color: $Grayscale-900;
            opacity: 0.6;
          }
        }

        .word{
          display: none;
          position: absolute;
          -webkit-text-stroke: 1px $Grayscale-900;
          margin-bottom: 10px;
          @include Subheading($color: $Grayscale-0);
        }
      }

      @include large {
        gap: calc(max(3vw, 15px));
      }
      @include middling {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
      }
      @include medium {
        gap: 20px;
      }
    }
    .cooper {
      margin-top: 60px;
      margin-bottom: 160px;
      text-align: center;
      @include Body-Semi($color: $Grayscale-0);
      @include large() {
        margin-top: 30px;
        margin-bottom: 80px;
      }
    }
  }
  @include middling {
    height: auto;
  }
}
