@import "../../styles/mixin.scss";

.SolutionAndEvent {
  width: 100%;
  display: flex;
  padding: 160px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $Red-300;
  background: linear-gradient(180deg, #3492d6 0%, #1f6496 100%);

  .Main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .SectionTitle {
      font-weight: 900;
      font-size: 24px;
      line-height: 36px;
      text-align: center;

      color: $Grayscale-0;
    }
    .SectionSubtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      padding: 0 15px;

      color: $Grayscale-0;
    }
  }
  .EventInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    padding-top: 80px;
    padding-bottom: 80px;
    .Title {
      font-weight: 900;
      font-size: 24px;
      line-height: 36px;
      text-align: center;

      color: $Grayscale-0;
    }
    .Descriptions {
      .Description {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: $Grayscale-0;
      }
    }
  }
}
