@import "../../styles/mixin.scss";

@keyframes float {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-7px, -5px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes float2 {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px, -8px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes floatBlue {
  0% {
    transform: translate(-50%);
  }
  50% {
    transform: translate(-49.7%, 8px);
  }
  100% {
    transform: translate(-50%);
  }
}

.Banner {
  width: 100%;
  min-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $Blue-200;
  position: relative;
  overflow: hidden;

  .BackgroundContainer {
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    height: 100vh;
    position: absolute;

    .BackgroundImageElement {
      position: absolute;
      animation: float 3.2s ease-in-out infinite;
    }

    .purple {
      left: calc(50% - 771px / 2 - 474.5px);
      top: -113px;
      animation-delay: 0.2s;
      @include medium {
        width: 564px;
        top: -143px;
        left: -309px;
      }
    }

    .pink {
      left: calc(min(max(11.7vw, 42px), 169px));
      top: 364px;
      animation: float2 3.2s ease-in-out infinite;
      @include medium {
        top: 250px;
        width: 291px;
      }
    }
    .blue {
      width: calc(min(max(61.11vw, 522px), 880px));
      left: calc(min(max(19.44vw, -73px), 280px));
      top: 94px;
      animation-delay: 0.9s;
      @include medium {
        width: 522px;
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0);
        animation: floatBlue 2.9s ease-in-out infinite;
      }
    }
    .green {
      width: calc(min(max(79.16vw, 422px), 1140px));
      top: -297px;
      left: calc(min(max(42.57vw, 164px), 613px));
      animation: float2 3.2s ease-in-out infinite;
      animation-delay: 1.3s;
      @include medium {
        top: -74px;
        width: 422px;
      }
    }
  }
  .MainContainer {
    width: 100%;
    min-width: 375px;

    height: 100vh;
    min-height: 760px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding-top: 18vh;
    padding-bottom: 50px;
    gap: 10px;

    border: 1px solid $Red-300;
    background-color: $Blue-200;
    @include large {
      padding-top: 10vh;
    }
    @include medium {
      padding-top: 140px;
    }
    @include small {
      align-items: center;
      justify-content: center;
      gap: 70px;
      padding-top: 208px;
    }

    .TitleContainer {
      position: relative;

      .TitleGroup {
        position: relative;
        z-index: 2;
        text-align: end;

        @include small {
          text-align: center;
        }
        .Title {
          $fontSize: calc(min(max(15.27vw, 50px), 220px));
          font-weight: 600;
          font-size: $fontSize;
          color: $Grayscale-0;
          -webkit-text-stroke: 1px $Grayscale-900;
          line-height: $fontSize;
        }
        .Subtitle {
          font-weight: 600;
          font-size: 110px;
          font-size: calc(min(max(8.5vw, 40px), 110px));
          color: $Grayscale-0;
          -webkit-text-stroke: 1px $Grayscale-900;
          line-height: normal;
          @include extraSmall {
            font-size: 40px;
            line-height: normal;
            white-space: nowrap;
          }
        }
      }

      .TitleGroup.AnimationTitle {
        position: absolute;
        top: 0;

        height: 0px;
        overflow: hidden;
        &.FilledBlue div {
          color: $Blue-400;
        }
        &.FilledPink div {
          color: #f49797;
        }
        &.FilledGreen div {
          color: #5bd75e;
        }
      }
    }

    .ActionContainer {
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      .ActionText {
        font-size: 24px;
        color: $Grayscale-0;
      }
    }
  }
}
