@import '../../styles/mixin.scss';


// *{
//   outline: 1px solid red;
// }

.Buttontest {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include Subheading;

  .box{
    width: inherit;
  }
  .wrap{
    width: inherit;
    background-color: $Lightblue-500;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #btn01{
      width: 300px;
    }

    #btn03{
      width: 104px;
    }
  }
}